extends layout

block content
  .container
    .row
      .col-xs-12
        .my-name Adnan Chowdhury
          hr
        .subtitle Computer Programmer, Musician
      .col-xs-12.col-sm-6
        p.info.
          Honest and dead simple communication favored over flair and cunning. A guitarist can embellish but the drummer can't miss a beat. My strengths include accomplishing both small and daunting tasks equinamously. When working towards a vision, I can become very passionate in my work.

