extends layout

block content
  .container
    .row
      .col-xs-12
        .my-name Adnan Chowdhury
          hr
        .subtitle Computer Programmer, Musician
      .col-xs-12.col-sm-8.col-md-8.col-lg-6
        p.info.
          Honesty and simplicity favored over flair and cunning. A guitarist can embellish but the drummer can't miss a beat. My strengths include accomplishing both small and daunting tasks equinamously. When working towards a vision, I can become very passionate in my work.
        .portfolio
          each entry in entries
            .row
              .entry.col-xs-12
                .title!= entry.title + ' - ' + entry.date
                .info
                  ul.fa-ul
                    each point in entry.points
                      li!= point
                        i.fa-li.fa.fa-tree

